<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="MusicPlayerDb" connectionString="Data Source=DESKTOP-13SBMDR;Initial Catalog=MusicPlayer;Integrated Security=True" />
  <add name="MusicPlayer.MusicPlayerDb" connectionString="Data Source=DESKTOP-13SBMDR;Initial Catalog=MusicPlayer;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="MusicPlayer.Properties.Settings.MusicPlayerDb" connectionString="Data Source=DESKTOP-13SBMDR;Initial Catalog=MusicPlayer;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="MusicPlayerDataSource"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\model\data\MusicPlayerDb.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>