<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		
	<add name="MusicPlayerDataSource"
	connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\model\data\MusicPlayerDb.mdf;Integrated Security=True"
	providerName="System.Data.SqlClient" />
		
		
	<add name="MusicDb"
	connectionString="Server=(LocalDB)\MSSQLLocalDB;Database=music_db;Trusted_Connection=True;"
	providerName="System.Data.SqlClient" />
		 
		
 </connectionStrings>
</configuration>
